ackermann-msgs==2.0.2
action-msgs==1.2.2
actionlib-msgs==4.9.1
actuator-msgs==0.0.1
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-mypy==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
anyio==4.14.2
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
arrow==1.4.0
asttokens==3.0.2
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.15.0
bleach==6.4.0
builtin-interfaces==1.2.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
comm==0.2.3
composition-interfaces==1.2.2
contourpy==1.3.3
control-msgs==4.8.0
controller==2025.0.0
controller-manager==2.53.1
controller-manager-msgs==2.53.1
cycler==0.12.1
debugpy==1.8.21
defusedxml==0.7.1
diagnostic-msgs==4.9.1
domain-coordinator==0.10.0
executing==2.2.1
fastjsonschema==2.22.2
fonttools==4.63.0
fqdn==1.5.1
generate-parameter-library-py==0.7.0
geometry-msgs==4.9.1
gps-msgs==2.1.2
h11==0.16.0
hospital-robot-spawner==0.0.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
interactive-markers==2.3.2
ipykernel==7.3.0
ipython==9.17.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.9
isoduration==20.11.0
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_builder==1.2.2
jupyter_client==8.10.0
jupyter_core==5.9.1
jupyter_server==2.21.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.17
kiwisolver==1.5.1
lark==1.3.1
laser-geometry==2.4.1
launch==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
lifecycle-msgs==1.2.2
map-msgs==2.1.0
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
message-filters==4.3.14
mistune==3.3.4
mocap4r2-control-msgs==0.0.7
narwhals==2.25.0
nav-msgs==4.9.1
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.11.1
nest-asyncio2==1.7.2
notebook==7.6.2
notebook_shim==0.2.4
numpy==2.5.2
osrf-pycommon==2.1.6
packaging==26.3
pandas==3.0.5
pandocfilters==1.5.1
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.11.5
prometheus_client==0.26.0
prompt_toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-json-logger==4.2.0
python-qt-binding==1.1.3
PyYAML==6.0.3
pyzmq==27.2.0
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
rcl-interfaces==1.2.2
rclpy==3.3.21
rcutils==5.1.8
referencing==0.37.0
requests==2.34.2
resource-retriever==3.1.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rmw-dds-common==1.6.0
ros-gz-interfaces==0.244.23
ros2-controllers-test-nodes==2.52.1
ros2action==0.18.18
ros2bag==0.15.16
ros2cli==0.18.18
ros2component==0.18.18
ros2controlcli==2.53.1
ros2doctor==0.18.18
ros2interface==0.18.18
ros2launch==0.19.13
ros2lifecycle==0.18.18
ros2multicast==0.18.18
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2plugin==5.1.3
ros2run==0.18.18
ros2service==0.18.18
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.11
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpds-py==2026.6.3
rpyutils==0.2.2
rqt==1.1.9
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-controller-manager==2.53.1
rqt-dotgraph==0.0.5
rqt-gauges==0.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-joint-trajectory-controller==2.52.1
rqt-moveit==1.0.1
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.6
rqt-robot-steering==1.0.3
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==1.0.5
rqt-topic==1.5.1
scikit-learn==1.9.0
scipy==1.18.1
seaborn==0.13.2
Send2Trash==2.1.0
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
six==1.17.0
soupsieve==2.9.2
sros2==0.10.9
stack-data==0.6.3
statistics-msgs==1.2.2
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
teleop-twist-keyboard==2.4.1
terminado==0.18.1
tf2-geometry-msgs==0.25.19
tf2-kdl==0.25.19
tf2-msgs==0.25.19
tf2-py==0.25.19
tf2-ros-py==0.25.19
tf2-sensor-msgs==0.25.19
tf2-tools==0.25.19
threadpoolctl==3.6.0
tinycss2==1.5.1
topic-tools==1.1.1
topic-tools-interfaces==1.1.1
tornado==6.5.8
tracetools-read==4.1.2
traitlets==5.16.1
trajectory-msgs==4.9.1
turtle-tf2-py==0.3.7
turtlesim==1.4.3
typing_extensions==4.16.0
tzdata==2026.3
unique-identifier-msgs==2.2.1
ur-dashboard-msgs==2.12.0
ur-msgs==2.3.0
ur-robot-driver==2.12.0
uri-template==1.3.0
urllib3==2.7.0
vehicle==2025.0.0
vision-msgs==4.1.1
visualization-msgs==4.9.1
wcwidth==0.8.3
webcolors==25.10.0
webencodings==0.6.1
webots-ros2-driver==2025.0.0
webots-ros2-importer==2025.0.0
webots-ros2-msgs==2025.0.0
websocket-client==1.9.1
widgetsnbextension==4.0.16
xacro==2.1.1
